@use 'styles/tokens';
@use 'styles/botones';
body {
  margin: 0;
  padding: 2rem;
  background-color: var(--color-fondo);
  color: var(--color-texto);
  font-family: system-ui, sans-serif;
}

h1, h2 {
  color: var(--color-destacado);
}